@use "/src/styles/variables";

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin alignRight {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@mixin backgroundColorPrimary {
  background-color: variables.$color-primary;
}

@mixin backgroundColorSecondary {
  background-color: variables.$color-secondary;
}

@mixin backgroundColorTertiary {
  background-color: variables.$color-tertiary;
}

@mixin textColorPrimary {
  color: variables.$color-primary;
}

@mixin textColorSecondary {
  color: variables.$color-secondary;
}

@mixin textColorTertiary {
  color: variables.$color-tertiary;
}
