@use "/src/styles/variables";
@use "/src/styles/mixins";

body {
  margin: 1rem 7rem;
  padding: 0;
  box-sizing: border-box;
}

nav,
footer,
section {
  @include mixins.center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

time {
  @include mixins.alignRight;
  margin-bottom: 2rem;
}

footer {
  margin-top: 2rem;
}

body.dark {
  background-color: variables.$color-secondary;
  color: variables.$color-primary;
}
